# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=1_gnu
alabaster=0.7.12=pypi_0
babel=2.9.1=pypi_0
ca-certificates=2020.12.5=ha878542_0
certifi=2020.12.5=py39hf3d152e_1
chardet=4.0.0=pypi_0
docutils=0.17.1=pypi_0
idna=2.10=pypi_0
imagesize=1.2.0=pypi_0
jinja2=2.11.3=pypi_0
ld_impl_linux-64=2.35.1=hea4e1c9_2
sphinx=4.0.1=pypi_0
sphinxcontrib-applehelp=1.0.2=pypi_0
sphinxcontrib-devhelp=1.0.2=pypi_0
sphinxcontrib-htmlhelp=1.0.3=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.3=pypi_0
sphinxcontrib-serializinghtml=1.1.4=pypi_0
